body {
  padding-top: 10px;
  background: #f9f9f9;
}

img {
  width: 100%;
}

.photo,
.logo {
  margin: 0 auto;
  display: block;
}

.photo {
  width: 50%;
}

.logo {
  width: 90%;
}

.contact-media {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.5rem;
}

.contact-media i {
  font-size: 2rem;
}

.contact-media a {
  color: #b55826;
  padding: 5px;
}

.fa-linkedin {
  color: #0077b5;
}

.fa-github {
  color: #333;
}

.fa-twitter {
  color: #55acee;
}

.fa-medium {
  color: black;
}

a.outlook {
  color: #0072c6;
}

a.gmail {
  color: #ea4335;
}

a.dev-link {
  color: #0a0a0a;
}

.page-section {
  color: #b55826;
  padding: 0 30px;
}

.page-item {
  color: #333;
  text-align: left;
}

.page-item__title {
  font-size: 1.5rem;
  color: #b55826;
}

.page-item__period-of-time {
  font-size: 1rem;
}

.page-item__position {
  font-size: 0.8rem;
}

.page-item__content {
  font-size: 1rem;
}
