body {
  background: #f9f9f9;
  padding-top: 10px;
}

img {
  width: 100%;
}

.contact-media {
  font-size: 1.5rem;
  margin-bottom: 20px;
  margin-top: 20px;

  i {
    font-size: 2rem;
  }

  a {
    color: #b55826;
    padding: 5px;

    &.outlook {
      color: #0072c6;
    }
    
    &.gmail {
      color: #ea4335;
    }
    
    &.dev-link {
      color: #0a0a0a;
    }
  }
}

.fa {
  &-linkedin {
    color: #0077b5;
  }
  
  &-github {
    color: #333;
  }
  
  &-twitter {
    color: #55acee;
  }
  
  &-medium {
    color: black;
  }
}

.logo {
  display: block;
  margin: 0 auto;
  width: 90%;
}

.page {
  &-section {
    color: #b55826;
    padding: 0 30px;
  }
  
  &-item {
    color: #333;
    text-align: left;
  }
  
  &-item__title {
    font-size: 1.5rem;
    color: #b55826;
  }
  
  &-item__period-of-time {
    font-size: 1rem;
  }
  
  &-item__position {
    font-size: 0.8rem;
  }
  
  &-item__content {
    font-size: 1rem;
  }
}

.photo {
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  width: 50%;
}