doctype html
html(lang="es")
    head
        meta(charset="utf-8")
        meta(name="viewport",content="width=device-width,user-scalable=no, initial-scale=1.0, minimun-scale=1.0")
        //- link(href="./vendor/Normalize/normalize.css",rel="stylesheet")
        link(href="./vendor/bootstrap/css/bootstrap.min.css",rel="stylesheet")
        link(href="./vendor/fontawesome/css/all.min.css",rel="stylesheet")
        //- link(href="https://fonts.googleapis.com/css?family=Ubuntu:400,300,500,700,300italic,400italic,500italic,700italic",rel="stylesheet")
        link(href="./css/index.css",rel="stylesheet")
    body
        .container
            .row.justify-content-between
                .col-12.col-sm-4
                    .row.align-items-center.justify-content-center
                        .col-sm-12
                            img(src="img/foto.png", alt="My Photo").photo
                        .col-sm-12
                            img(src="img/logo.png", alt="Logo").logo
                    .row.contact-media.align-items-center.justify-content-center
                        .col-sm-auto.col-3
                            a(href="https://github.com/chrisjcom")
                                i.fab.fa-github
                        .col-sm-auto.col-3
                            a(href="https://www.linkedin.com/in/christian-jhossymar-contreras-murgas-32071b7b/")
                                i.fab.fa-linkedin
                        .col-sm-auto.col-3
                            a(href="https://twitter.com/chrisjcom")
                                i.fab.fa-twitter
                        .col-sm-auto.col-4
                            a(href="https://dev.to/chrisjcom").dev-link
                                i.fab.fa-dev
                        .col-sm-6.text-center.col-6
                            a(href="mailto:chrisj_contreras@outlook.com").outlook
                                i.fas.fa-envelope
                                |  Outlook
                        .col-sm-6.text-center.col-6
                            a(href="mailto:cjcm.210591@gmail.com").gmail
                                i.fas.fa-envelope
                                |  Gmail
                    p.text-center
                        | Hi! I am from El Salvador, I am 31 years old.
                        br
                        br
                        | I am currently working at La Prensa Gráfica as a Web Developer.
                        br
                        br
                        | I love to listen to music, play soccer and videogames, and watch movies, series and animes
                .col-12.col-sm-7.text-center.page-section
                    h1.page-section__title
                        i.fas.fa-briefcase
                        |  Experience
                    hr
                    article.page-item.row.justify-content-between.align-items-center
                        h2.page-item__title
                            | La Prensa Gráfica
                            span.page-item__period-of-time.col-12
                                |  (Dec 2020 - Currently)
                        h4.page-item__position.col-12
                            | Web Developer
                        p.page-item__content
                            | La Prensa Gráfica is one of the newspapers with large circulation in El Salvador
                        hr.col-sm-6.offset-sm-3
                    article.page-item.row.justify-content-between.align-items-center
                        h2.page-item__title
                            | Supertex El Salvador
                            span.page-item__period-of-time.col-12
                                |  (Nov 2017 - Dec 2020)
                        h4.page-item__position.col-12
                            | PHP and Front End Developer
                        p.page-item__content
                            | Supertex El Salvador is a company focused on being a leader in the manufacture of sportswear.
                        hr.col-sm-6.offset-sm-3
                    article.page-item.row.justify-content-between.align-items-center
                        h2.page-item__title
                            | Vegacorp
                            span.page-item__period-of-time.col-12
                                |  (Jul 2014 - Oct 2014)
                        h4.page-item__position.col-12
                            | Full Stack Developer
                        p.page-item__content
                            | Vegacorp is a company focuses on Web Apps Developing.
                        hr.col-sm-6.offset-sm-3
                    h1.page-section__title
                        i.fas.fa-graduation-cap
                        |  Education
                    hr
                    article.page-item.row.justify-content-between.align-items-center
                        h2.page-item__title
                            | Engineering in Computer Systems
                            span.page-item__period-of-time.col-12
                                |  (2008 - 2020)
                        h4.page-item__position.col-12
                            | Universidad de El Salvador
                        p.page-item__content
                            | I am currently doing my work graduation.
                        hr.col-sm-6.offset-sm-3
                    h1.page-section__title
                        i.fas.fa-university
                        |  Events
                    hr
                    article.page-item.row.justify-content-between.align-items-center
                        h2.page-item__title
                            | Tools for Developers
                            span.page-item__period-of-time.col-12
                                |  (2015)
                        h4.page-item__position.col-12
                            | Ignite
                        p.page-item__content
                            | I talked about some tools for developers to some Engineering in Computer
                            | Systems students of the University of El Salvador in a presentation to new students.
                        ul.col-sm-12.page-item__list
                            li
                                a(href="http://es.slideshare.net/JhossymarContreras/presentacin-curso-de-ambientacin-ing-en-sistemas-2015") Slides
                        hr.col-sm-6.offset-sm-3
                    article.page-item.row.justify-content-between.align-items-center
                        h2.page-item__title
                            | Web Developing with HTML 5, CSS 3 & Javascript
                            span.page-item__period-of-time.col-12
                                |  (2014)
                        h4.page-item__position.col-12
                            | Course
                        p.page-item__content
                            | I gave this course to students of a subject called "Fundamentos de Programacion en Internet"
                            | in the University of El Salvador.
                        ul.col-sm-12.page-item__list
                            li
                                a(href="https://github.com/chrisjcom/tallerfpi") Repositorio de Github
                        hr.col-sm-6.offset-sm-3
                    article.page-item.row.justify-content-between.align-items-center
                        h2.page-item__title
                            | HTML 5 & CSS 3
                            span.page-item__period-of-time.col-12
                                |  (2014)
                        h4.page-item__position.col-12
                            | Workshop
                        p.page-item__content
                            | I gave this workshop to students of University of El Salvador for the Community Minerva.NET.
                        ul.col-sm-12.page-item__list
                            li
                                a(href="https://github.com/chrisjcom/Taller-Minerva-Desarrollo-Web-Live") Repositorio de Github
                        hr.col-sm-6.offset-sm-3